<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="tsoft.NgenUtil.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <tsoft.NgenUtil.Properties.Settings>
            <setting name="FormAdminLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormAdminSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormAdminWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="FormAdminNETFrameworkVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="FormAdminScenario" serializeAs="String">
                <value />
            </setting>
        </tsoft.NgenUtil.Properties.Settings>
    </userSettings>
</configuration>